---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  <div class="container">
    <h3 class='til'>Today I Learned</h3>
    <br />
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        <p class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta post-date">{{ post.date | date: date_format }}</span>
        <br /><br />
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</div>
